{% extends "./base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="content">
        {% load static %}
        <div class="row">
            <div class="col">
                <h5>{{ wine.winename }}</h5><br>
                <b>Producer:</b> {{ wine.producer }}<br>
                <b>Country:</b> {{ wine.country }}<br>
                <b>Region:</b> {{ wine.region }}<br>
                <b>Grapes:</b> {{ wine.grapes }}<br>
                <b>Drinkable from:</b> {{ wine.drinkfrom|default_if_none:'' }}<br>
                <b>Drinkable until:</b> {{ wine.drinkto|default_if_none:'' }}<br>
                <b>Merchant:</b> {{ wine.dealer }}<br>
                <b>Purchase date:</b> {{ wine.purchase|default_if_none:''|date:'d.m.Y' }}<br>
                <b>Price:</b> {{ wine.price }}<br>
                <b>Storage:</b> {{ wine.warehouse }}<br>
                <b>Vintage:</b> {{ wine.year }}<br>
                <b>Number of bottles:</b> {{ wine.nmbrbottles }}<br><br>
                
                <b>Notes:</b><br>
                {{ wine.notes }}<br><br>

                <div class="dates">Updated: {{ wine.editdate|date:"d.m.Y" }}</div><br><br>

                <a href="/wine/log" class="btn btn-secondary btn-sm" title="Back to wine log">
                    <img src="{% static 'wine/bootstrap/icons/arrow-left-circle.svg' %}" alt="Back">
                </a>
                <a href="{% url 'wine:update_wine' wine.id %}" class="btn btn-success btn-sm" title="Edit wine">
                    <img src="{% static 'wine/bootstrap/icons/pencil.svg' %}" alt="Edit">
                </a>
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}












