{% extends "./base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="content">
    {% load static %}
    <div class="row">
        <div class="col">
            <p>
                <strong>MyBottles:</strong> <b>{{ bottles_sum|default:"0" }}</b> bottles, {{ wines_sum|default:"0" }} unique wines.
            </p>
        </div>
        <div class="col text-end">
            <p>
                <a class="btn btn-success btn-sm" href="/wine/export_xls">
                    <i class="bi bi-filetype-xls" style="color: black;"></i> Export to Excel
                </a>
            </p>
            <p>
                <a class="btn btn-danger btn-sm" href="/wine/export">
                    <i class="bi bi-filetype-csv" style="color: black;"></i> Export to CSV
                </a>
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <strong>Last 30 updates in your cellar:</strong>
            <br><br>
            {% for wine in object_list %}
                <div class="winelog">
                    {{ wine.editdate|date:"d.m.Y" }}, 
                    <a href="{% url 'wine:wine_log_detail' wine.id %}">{{ wine.winename }}</a> 
                    {{ wine.producer }}
                    <br>
                </div>
            {% empty %}
                <p>No updates found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
